<!-- Template diambil dari https://colorlib.com/wp/template/table-with-vertical-horizontal-highlight/ -->
<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <!-- Ambil font Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta charset="UTF-8" />
        <!-- Title tab -->
        <title>Notes</title>
        <link rel="stylesheet" href="{% static 'staticfiles.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="table">Table</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="note-list">Card</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="add-note">Add Note</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="tengah">
            <table>
                <tr>
                    <th>To</th>
                    <th>From</th>
                    <th>Title</th>
                    <th>Message</th>
                </tr>
                <!-- Loop from Note model -->
                {% for note in notes %}
                <tr>
                    <td>{{note.To}}</td>
                    <td>{{note.From}}</td>
                    <td>{{note.Title}}</td>
                    <td>{{note.Message}}</td>
                </tr>
                {% endfor %}
                <!-- END SECTION -->
            </table>
            <button type="button" onclick="location.href='add-note'">
                Add Note
            </button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>
