<!-- Template diambil dari https://colorlib.com/wp/template/table-with-vertical-horizontal-highlight/ -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Ambil font Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta charset="UTF-8" />
        <!-- Title tab -->
        <title>Note Cards</title>
        <!-- Styling -->
        <style>
            button {
                font-family: Montserrat;
                border: none;
                color: rgb(255, 255, 255);
                background: #7918f2;
                background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
                background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
                background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
                background: linear-gradient(-68deg, #ac32e4 , #4801ff);
                box-shadow: 0 0 50px  #3200e6; 
                padding: 4px 8px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 7px 4px;
                transition-duration: 0.4s;
                cursor: pointer;
            }
            .tengah {
                background-image:url('https://pbs.twimg.com/media/ExWSJbOXIAce3m5?format=png&name=medium'); 
                background-size:cover; 
                padding-left:8rem; 
                padding-right:8rem; 
                height : 100vh; 
                display: flex; 
                flex-direction: column; 
                justify-content: center;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="table">Table</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="note-list">Card</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="add-note">Add Note</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="tengah">
            <div class="row row-cols-1 row-cols-md-4 g-4" >
            {% for note in notes %}
                <div class="col">
                    <div class="card h-100" style = "background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff); color:white">
                        <div class="card-body">
                            <h3 class="card-title">{{note.Title}}</h3>
                            <h5 class="card-to-from">From: {{note.From}}</h5>
                            <h5 class="card-to-from">To: {{note.To}}</h5>
                            <p class="card-text">{{note.Message}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <button type="button" onclick="location.href='add-note'">
                Add Note
            </button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>
    