<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Ambil font Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <meta charset = "UTF-8" />
        <!-- Title tab -->
        <title>Add Friend</title> 
        <style>
            /* Nempelin ke samping layar */
            html, body {
                min-height: 100%;
            }
            
            body, div, form, input, select, textarea, label { 
                outline: none;
                color: rgb(255, 255, 255);
            }
            

            /* Kotak yang nyimpen form */
            form {
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                font-family: Montserrat;
                background: #7918f2;
                background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
                background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
                background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
                background: linear-gradient(-68deg, #ac32e4 , #4801ff);
                box-shadow: 0 0 50px  #3200e6;  
            }
            
            /* Box Input */
            input {
                margin-bottom: 10px;
                border: 1px solid rgb(194, 191, 191); 
                font-family: Montserrat;
                background: #bdbbbb;
                border-radius: 6px; /*Curve border input*/
            }
            
            /* Handle new line tiap box input */
            input {
                width: calc(100% - 10px); 
                padding: 5px;
            }

            .tengah {
                background-image:url('https://pbs.twimg.com/media/FBLH8pYXMAAlJWo?format=png&name=medium'); 
                background-size:cover; 
                padding-left:8rem; 
                padding-right:8rem; 
                height : 100vh; 
                display: flex; 
                flex-direction: column; 
                justify-content: center;
            }
        </style>
    </head>
    
    <!-- padding buat handle bates kiri kanan, set background image dan posisinya, handle posisi body supaya di tengah -->
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="table">Table</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="note-list">Card</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="add-note">Add Note</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="tengah">
            <form action="" method="POST">
            {% csrf_token %}
            <div class="item">
                <label for="To">To<span></span></label>
                <input id="To" type="text" name="To" required/>
            </div>
            <div class="item">
                <label for="From">From<span></span></label>
                <input id="From" type="text" name="From" required/>
            </div>
            <div class="item">
                <label for="Title">Title<span></span></label>
                <input id="Title" type="text" name="Title" required/>
            </div>
            <div class="item">
                <label for="Message">Message<span></span></label>
                <input id="Message" type="text" name="Message" required/>
            </div>
                <input type="submit" value="Submit" style = "color:white">
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>