/* Styling table */
table {
    overflow: hidden;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: linear-gradient(-68deg, #ac32e4 , #4801ff);
    box-shadow: 0 0 50px  #3200e6; 
}

table {
    background-color: transparent;
}

/* Styling data */
td {
    font-family: Montserrat;
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 1.4;
}

/* Styling header */
th {
    font-family: Montserrat;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.32);
}

button {
    font-family: Montserrat;
    border: none;
    color: rgb(255, 255, 255);
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
    background: linear-gradient(-68deg, #ac32e4 , #4801ff);
    box-shadow: 0 0 50px  #3200e6; 
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.tengah {
    background-image:url('https://pbs.twimg.com/media/ExK_q-IVcAUM7Qu?format=png&name=medium'); 
    background-size:cover; 
    padding-left:8rem; 
    padding-right:8rem; 
    height : 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}