<!DOCTYPE html>
<html>
  <head>
    <!-- Ambil font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <!-- Title tab -->
    <title>Friend List</title>
    <!-- Styling table, button -->
    <style>
      table {
        font-family: Roboto;
        border-collapse: collapse;
        border-radius: 10px;
        width: 100%;
        box-shadow: 0 0 25px  #e600bf; 
      }

      td, th {
        border: 1px solid rgb(194, 191, 191);
        text-align: left;
        padding: 8px;
      }

      tr {
        background-color: rgb(170, 165, 165);
      }

      button {
        font-family: Roboto;
        border: none;
        color: black;
        background-color: rgb(194, 191, 191);
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 7px 4px;
        transition-duration: 0.4s;
        cursor: pointer;
      }

    </style>
  </head>
<body style = "padding-left:8rem ; padding-right:8rem ; background-image:url('https://pbs.twimg.com/media/EORTB6mW4AAMqSY?format=png&name=large') ; background-size:cover ; height: 100vh ; display: flex ; flex-direction: column ; justify-content: center;">
  <form action="" method="POST">
      <table>
        <tr>
          <th>Name</th>
          <th>NPM</th>
          <th>DOB</th>
        </tr>
        <!-- loop from Friend model -->
        <!-- EXAMPLE SECTION -->
        {% for i in friends %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.npm}}</td>
          <td>{{i.DOB}}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
      </table>
      <button type="button" onclick="location.href='add'">
        Add Friend
      </button>
  </body>
</html>
